In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('D:/Project/Normal-Data-Visulization/datasets/Covid-19/covid_19_clean_complete.csv')

In [3]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

What are the total number of rows and columns in the dataset?

In [4]:
len(df.index) , len(df.columns)

(49068, 10)

How many unique countries are listed in the dataset?

In [5]:
len(np.unique(df['Country/Region']))

187

Extract all rows where the WHO Region is "Europe."

In [6]:
df[df['WHO Region'] == 'Europe']

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0,0,Europe
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0,0,Europe
7,NaN,Armenia,40.0691,45.0382,2020-01-22,0,0,0,0,Europe
16,NaN,Austria,47.5162,14.5501,2020-01-22,0,0,0,0,Europe
17,NaN,Azerbaijan,40.1431,47.5769,2020-01-22,0,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...
49053,British Virgin Islands,United Kingdom,18.4207,-64.6400,2020-07-27,8,1,7,0,Europe
49054,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,2020-07-27,99,2,36,61,Europe
49059,Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,2020-07-27,13,0,13,0,Europe
49060,Saint Pierre and Miquelon,France,46.8852,-56.3159,2020-07-27,4,0,1,3,Europe
49066,NaN,Tajikistan,38.8610,71.2761,2020-07-27,7235,60,6028,1147,Europe

Find all records where the number of Confirmed cases is greater than 10,000.

In [7]:
df[df['Confirmed'] > 10000]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
2932,Hubei,China,30.975600,112.270700,2020-02-02,11177,350,295,10532,Western Pacific
3193,Hubei,China,30.975600,112.270700,2020-02-03,13522,414,386,12722,Western Pacific
3454,Hubei,China,30.975600,112.270700,2020-02-04,16678,479,522,15677,Western Pacific
3715,Hubei,China,30.975600,112.270700,2020-02-05,19665,549,633,18483,Western Pacific
3976,Hubei,China,30.975600,112.270700,2020-02-06,22112,618,817,20677,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
49028,NaN,United Kingdom,55.378100,-3.436000,2020-07-27,300111,45759,0,254352,Europe
49030,NaN,US,40.000000,-100.000000,2020-07-27,4290259,148011,1325804,2816444,Americas
49031,NaN,Uzbekistan,41.377491,64.585262,2020-07-27,21209,121,11674,9414,Europe
49032,NaN,Venezuela,6.423800,-66.589700,2020-07-27,15988,146,9959,5883,Americas
49044,NaN,West Bank and Gaza,31.952200,35.233200,2020-07-27,10621,78,3752,6791,Eastern Mediterranean

Sort the dataset by Confirmed cases in descending order.

In [8]:
df.sort_values(by='Confirmed', ascending=False)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49030,NaN,US,40.000000,-100.000000,2020-07-27,4290259,148011,1325804,2816444,Americas
48769,NaN,US,40.000000,-100.000000,2020-07-26,4233923,146935,1297863,2789125,Americas
48508,NaN,US,40.000000,-100.000000,2020-07-25,4178970,146465,1279414,2753091,Americas
48247,NaN,US,40.000000,-100.000000,2020-07-24,4112531,145560,1261624,2705347,Americas
47986,NaN,US,40.000000,-100.000000,2020-07-23,4038816,144430,1233269,2661117,Americas
...,...,...,...,...,...,...,...,...,...,...
43,Quebec,Canada,52.939900,-73.549100,2020-01-22,0,0,0,0,Americas
5,NaN,Antigua and Barbuda,17.060800,-61.796400,2020-01-22,0,0,0,0,Americas
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
19,NaN,Bahrain,26.027500,50.550000,2020-01-22,0,0,0,0,Eastern Mediterranean
18,NaN,Bahamas,25.025885,-78.035889,2020-01-22,0,0,0,0,Americas

Calculate the total number of Deaths for each WHO Region.

In [9]:
df.groupby('WHO Region')['Deaths'].sum()

WHO Region
Africa                     439978
Americas                 19359292
Eastern Mediterranean     1924029
Europe                   19271040
South-East Asia           1458134
Western Pacific            932430
Name: Deaths, dtype: int64

Determine the country with the highest total Recovered cases.

In [10]:
df.loc[df['Recovered'].idxmax()]['Country/Region']

'Brazil'

Group the data by Date and calculate the total Confirmed cases for each day.

In [11]:
df.groupby('Date')['Confirmed'].sum()

Date
2020-01-22         555
2020-01-23         654
2020-01-24         941
2020-01-25        1434
2020-01-26        2118
                ...
2020-07-23    15510481
2020-07-24    15791645
2020-07-25    16047190
2020-07-26    16251796
2020-07-27    16480485
Name: Confirmed, Length: 188, dtype: int64

Find the average Active cases for each WHO Region.

In [12]:
df.groupby('WHO Region')['Active'].mean()

WHO Region
Africa                    1125.678081
Americas                 26113.836494
Eastern Mediterranean     5828.858801
Europe                    7074.912101
South-East Asia          12569.097872
Western Pacific            636.366634
Name: Active, dtype: float64

Identify how many null values exist in the Province/State column.

In [13]:
df['Province/State'].isna().count()

np.int64(49068)

Replace null values in the Province/State column with "Unknown".

In [ ]:
df['Province/State'].fillna('Unknown', inplace=True)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Unknown,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Unknown,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Unknown,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Unknown,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Unknown,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,Unknown,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Unknown,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Unknown,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Unknown,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Unknown,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [26]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Unknown,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Unknown,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Unknown,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Unknown,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Unknown,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,Unknown,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Unknown,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Unknown,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Unknown,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Unknown,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

Convert the Date column to datetime format and find the earliest and latest dates in the dataset.

In [24]:
time = pd.to_datetime(df['Date'])
df['Date'].sort_values()[0]

Timestamp('2020-01-22 00:00:00')

Create a NumPy array of the Confirmed cases and calculate the mean, median, and standard deviation.

In [31]:
arr = np.array(df['Confirmed'])
arr.mean() , arr.std() , np.median(arr)

(np.float64(16884.90425531915),
 np.float64(127298.90808415522),
 np.float64(168.0))